body{
    margin: 0;
    padding: 0;
  background: linear-gradient(to right, #d902bf, #613dcf);

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1em;
}
div{
    text-align: center;
}

.btn1,.btn2{
    height: 10vh;
    width: 15vw;
    border-radius: 1vw;
    margin: 0 10px;
    border: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
    font-size: 1.2vw;


}
.btn1:hover,.btn2:hover{
    background-color: #d902bf;
    cursor: pointer;
}
.btn1{
    background-color: #613dcf;
    margin-right: 3vw;
}
h2{
    font-size: 1.2vw;

}

.link{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    border-left: 3px solid wheat;
    font-size: 1.2vw;

}